<div class="container mt-4">
  <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-md-8">
      <div class="card text-center mt-4 mb-4">
        <div class="card-body">
          <p>Это ЧатЧат! Болтать разрешено!</p>
          <p>Особенно тебе<%= @user.nil? ? "" : ", #{@user.name}" %>!</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-4">Собеседники:</h1>
  </div>

  <%= turbo_stream_from "users" %>
  <div class="list-group" id="users">
    <%= render @users %>
  </div>

  <hr>

  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mb-4">Чат-комнаты:</h1>
    <%= link_to 'Создать новую комнату', new_chat_room_path, class: 'btn btn-primary' %>
  </div>


  <%= turbo_stream_from "chat_rooms" %>
  <div class="list-group" id="chat_rooms">
    <%= render @chat_rooms %>
  </div>
</div>
