<div class="container mt-4">
  <p class="fs-2">Новая Чат-комната</p>

  <%= form_with model: @chat_room, local: true do |form| %>
    <div class="mb-3">
      <%= form.label :name, "Название", class: "form-label" %>
      <%= form.text_field :name, id: :chat_room_name, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :user_ids, "Выберете собеседников:", class: "form-label" %>
      <div class="form-text text-light mb-2">Используйте Ctrl и мышь для множественного выбора</div>
      <%= form.collection_select :user_ids, @users, :id, :name, {}, { multiple: true, class: "form-select", data: { controller: "select-users", target: "select-users.select", action: "change->select-users#updateChosen" } } %>
      <div data-select-users-target="chosen" class="mt-3"></div>
    </div>

    <div class="actions">
      <%= form.submit "Создать", class: "btn btn-outline-warning mx-2" %>
      <%= link_to "Отмена", :back, class:"btn btn-outline-secondary" %>
    </div>
  <% end %>
</div>