<div data-controller="chat-room" data-chat-room-id="<%= @chat_room.id %>">
  <div class="container mt-4">
    <div class="mb-3">
      <h1>Чат: <%= @chat_room.name %></h1>
      <h2>Участники:</h2>
      <ul>
        <% @chat_room.users.each do |user| %>
          <li><%= user.name %></li>
        <% end %>
      </ul>
      <%= link_to "Leave", root_path %>
    </div>

    <div class="messages mb-4 col-12"> <!-- Adjust the height accordingly -->
      <%= turbo_frame_tag 'messages' do %>
        <div class="messages-inner" id="messages">
          <%= render @chat_room.messages %>
        </div>
      <% end %>
    </div>

    <div class="mb-4 col-12">
      <%= form_with model: [@chat_room, Message.new], local: false do |form| %>
        <div class="d-flex justify-content-evenly">
          <%= form.text_field :content, class: 'form-control width-70 col-md-8', placeholder: 'Напишите сообщение' %>
          <%= form.submit 'Отправить', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
