<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("about.heading") %></h2>
      <p><%= t("about.description") %></p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <%= image_tag "about.jpg", class:"img-fluid" %>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3><%= t("about.subheading") %></h3>
        <p class="fst-italic">
          <%= t("about.journey_description") %>
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <%= t("about.facility_description") %></li>
          <li><i class="bi bi-check-circle"></i> <%= t("about.team_description") %></li>
          <li><i class="bi bi-check-circle"></i> <%= t("about.patient_care_description") %></li>
        </ul>
        <p>
          <%= t("about.commitment_description") %>
        </p>
      </div>
    </div>

  </div>
</section>
<!-- End About Us Section -->
