<section id="counts" class="counts">
  <div class="container" data-aos="fade-up">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-user-md"></i>
          <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong><%= t("counts.doctors.title") %></strong> <%= t("counts.doctors.description") %></p>
          <a href="#"><%= t("counts.find_out_more") %></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="far fa-hospital"></i>
          <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong><%= t("counts.departments.title") %></strong> <%= t("counts.departments.description") %></p>
          <a href="#"><%= t("counts.find_out_more") %></a>
        </div>
      </div>
      <!-- ... -->
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-flask"></i>
          <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong><%= t("counts.research_lab.title") %></strong> <%= t("counts.research_lab.description") %></p>
          <a href="#"><%= t("counts.find_out_more") %></a>
        </div>
      </div>
      <!-- ... -->
      <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
        <div class="count-box">
          <i class="fas fa-award"></i>
          <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
          <p><strong><%= t("counts.awards.title") %></strong> <%= t("counts.awards.description") %></p>
          <a href="#"><%= t("counts.find_out_more") %></a>
        </div>
      </div>
    </div>
  </div>
</section>
