<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("departments.title") %></h2>
      <p><%= t("departments.description") %></p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
              <h4><%= t("departments.tab.cardiology.title") %></h4>
              <p><%= t("departments.tab.cardiology.description") %></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
              <h4><%= t("departments.tab.neurology.title") %></h4>
              <p><%= t("departments.tab.neurology.description") %></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
              <h4><%= t("departments.tab.hepatology.title") %></h4>
              <p><%= t("departments.tab.hepatology.description") %></p>
            </a>
          </li>
          <li class="nav-item mt-2">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
              <h4><%= t("departments.tab.pediatrics.title") %></h4>
              <p><%= t("departments.tab.pediatrics.description") %></p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <h3><%= t("departments.tab.cardiology.header") %></h3>
            <p class="fst-italic"><%= t("departments.tab.cardiology.subtitle") %></p>
            <%= image_tag "departments-1.jpg", class:"img-fluid" %>
            <p><%= t("departments.tab.cardiology.content") %></p>
          </div>
          <div class="tab-pane" id="tab-2">
            <h3><%= t("departments.tab.neurology.header") %></h3>
            <p class="fst-italic"><%= t("departments.tab.neurology.subtitle") %></p>
            <%= image_tag "departments-2.jpg", class:"img-fluid" %>
            <p><%= t("departments.tab.neurology.content") %></p>
          </div>
          <div class="tab-pane" id="tab-3">
            <h3><%= t("departments.tab.hepatology.header") %></h3>
            <p class="fst-italic"><%= t("departments.tab.hepatology.subtitle") %></p>
            <%= image_tag "departments-3.jpg", class:"img-fluid" %>
            <p><%= t("departments.tab.hepatology.content") %></p>
          </div>
          <div class="tab-pane" id="tab-4">
            <h3><%= t("departments.tab.pediatrics.header") %></h3>
            <p class="fst-italic"><%= t("departments.tab.pediatrics.subtitle") %></p>
            <%= image_tag "departments-4.jpg", class:"img-fluid" %>
            <p><%= t("departments.tab.pediatrics.content") %></p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Departments Section -->
