<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right">
        <div class="icon-box mt-5 mt-lg-0">
          <i class="bx bx-receipt"></i>
          <h4><%= t("features.electronic_health_records.title") %></h4>
          <p><%= t("features.electronic_health_records.description") %></p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-cube-alt"></i>
          <h4><%= t("features.advanced_medical_equipment.title") %></h4>
          <p><%= t("features.advanced_medical_equipment.description") %></p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-images"></i>
          <h4><%= t("features.medical_screaning_services.title") %></h4>
          <p><%= t("features.medical_screaning_services.description") %></p>
        </div>
        <div class="icon-box mt-5">
          <i class="bx bx-shield"></i>
          <h4><%= t("features.patient_safety_first.title") %></h4>
          <p><%= t("features.patient_safety_first.description") %></p>
        </div>
      </div>
      <div class="image col-lg-6 order-1 order-lg-2" style="background-image: url(<%= asset_path('features.jpg') %>)" data-aos="zoom-in"></div>

    </div>

  </div>
</section><!-- End Features Section -->
