<!-- ======= Featured Services Section ======= -->
<section id="featured-services" class="featured-services">
  <div class="container" data-aos="fade-up">

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4 class="title"><a href=""><%= t("featured_services.cardiology.title") %></a></h4>
          <p class="description"><%= t("featured_services.cardiology.description") %></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4 class="title"><a href=""><%= t("featured_services.pharmacy.title") %></a></h4>
          <p class="description"><%= t("featured_services.pharmacy.description") %></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="fas fa-thermometer"></i></div>
          <h4 class="title"><a href=""><%= t("featured_services.diagnostics.title") %></a></h4>
          <p class="description"><%= t("featured_services.diagnostics.description") %></p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4 class="title"><a href=""><%= t("featured_services.genetics.title") %></a></h4>
          <p class="description"><%= t("featured_services.genetics.description") %></p>
        </div>
      </div>

    </div>

  </div>
</section>
<!-- End Featured Services Section -->
