<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("gallery.title") %></h2>
      <p><%= t("gallery.description") %></p>
    </div>

    <div class="gallery-slider swiper">
      <div class="swiper-wrapper align-items-center">

        <div class="swiper-slide"><%= image_tag "gallery/gallery-1.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-2.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-3.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-4.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-5.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-6.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-7.jpg", class:"img-fluid" %></div>
        <div class="swiper-slide"><%= image_tag "gallery/gallery-8.jpg", class:"img-fluid" %></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Gallery Section -->

