<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("pricing.section_title.title") %></h2>
      <p><%= t("pricing.section_title.description") %></p>    
    </div>

    <div class="row">

      <!-- Beginner Plan -->
      <div class="col-lg-3 col-md-6">
        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <h3><%= t("pricing.beginner.title") %></h3>
          <h4><sup>$</sup><%= t("pricing.beginner.price") %><span> / month</span></h4>
          <ul>
            <li><%= t("pricing.beginner.features.0") %></li>
            <li><%= t("pricing.beginner.features.1") %></li>
            <li><%= t("pricing.beginner.features.2") %></li>
            <li class="na"><%= t("pricing.beginner.features.3") %></li>
            <li class="na"><%= t("pricing.beginner.features.4") %></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy"><%= t("pricing.beginner.button") %></a>
          </div>
        </div>
      </div>

      <!-- Pro Health Plan -->
      <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
        <div class="box featured" data-aos="fade-up" data-aos-delay="200">
          <h3><%= t("pricing.pro_health.title") %></h3>
          <h4><sup>$</sup><%= t("pricing.pro_health.price") %><span> / month</span></h4>
          <ul>
            <li><%= t("pricing.pro_health.features.0") %></li>
            <li><%= t("pricing.pro_health.features.1") %></li>
            <li><%= t("pricing.pro_health.features.2") %></li>
            <li><%= t("pricing.pro_health.features.3") %></li>
            <li class="na"><%= t("pricing.pro_health.features.4") %></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy"><%= t("pricing.pro_health.button") %></a>
          </div>
        </div>
      </div>

      <!-- Health Elite Plan -->
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <h3><%= t("pricing.health_elite.title") %></h3>
          <h4><sup>$</sup><%= t("pricing.health_elite.price") %><span> / month</span></h4>
          <ul>
            <li><%= t("pricing.health_elite.features.0") %></li>
            <li><%= t("pricing.health_elite.features.1") %></li>
            <li><%= t("pricing.health_elite.features.2") %></li>
            <li><%= t("pricing.health_elite.features.3") %></li>
            <li><%= t("pricing.health_elite.features.4") %></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy"><%= t("pricing.health_elite.button") %></a>
          </div>
        </div>
      </div>

      <!-- Ultimate Health Plan -->
      <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
        <div class="box" data-aos="fade-up" data-aos-delay="400">
          <span class="advanced"><%= t("pricing.ultimate_health.tag") %></span>
          <h3><%= t("pricing.ultimate_health.title") %></h3>
          <h4><sup>$</sup><%= t("pricing.ultimate_health.price") %><span> / month</span></h4>
          <ul>
            <li><%= t("pricing.ultimate_health.features.0") %></li>
            <li><%= t("pricing.ultimate_health.features.1") %></li>
            <li><%= t("pricing.ultimate_health.features.2") %></li>
            <li><%= t("pricing.ultimate_health.features.3") %></li>
            <li><%= t("pricing.ultimate_health.features.4") %></li>
          </ul>
          <div class="btn-wrap">
            <a href="#" class="btn-buy"><%= t("pricing.ultimate_health.button") %></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Pricing Section -->
