<!-- ======= Services Section ======= -->
<section id="services" class="services services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("services.section_title.title") %></h2>
      <p><%= t("services.section_title.description") %></p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-heartbeat"></i></div>
        <h4 class="title"><a href=""><%= t("services.cardiology.title") %></a></h4>
        <p class="description"><%= t("services.cardiology.description") %></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-pills"></i></div>
        <h4 class="title"><a href=""><%= t("services.pharmacy.title") %></a></h4>
        <p class="description"><%= t("services.pharmacy.description") %></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-hospital-user"></i></div>
        <h4 class="title"><a href=""><%= t("services.patient_care.title") %></a></h4>
        <p class="description"><%= t("services.patient_care.description") %></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon"><i class="fas fa-dna"></i></div>
        <h4 class="title"><a href=""><%= t("services.genetics.title") %></a></h4>
        <p class="description"><%= t("services.genetics.description") %></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon"><i class="fas fa-wheelchair"></i></div>
        <h4 class="title"><a href=""><%= t("services.physiotherapy.title") %></a></h4>
        <p class="description"><%= t("services.physiotherapy.description") %></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon"><i class="fas fa-notes-medical"></i></div>
        <h4 class="title"><a href=""><%= t("services.medical_records.title") %></a></h4>
        <p class="description"><%= t("services.medical_records.description") %></p>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
