<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2><%= t("testimonials.section_title.title") %></h2>
      <p><%= t("testimonials.section_title.description") %></p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= t("testimonials.testimonial_1.text") %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-1.jpg", class:"testimonial-img" %>
            <h3><%= t("testimonials.testimonial_1.name") %></h3>
            <h4><%= t("testimonials.testimonial_1.position") %></h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= t("testimonials.testimonial_2.text") %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-2.jpg", class:"testimonial-img" %>
            <h3><%= t("testimonials.testimonial_2.name") %></h3>
            <h4><%= t("testimonials.testimonial_2.position") %></h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= t("testimonials.testimonial_3.text") %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-3.jpg", class:"testimonial-img" %>
            <h3><%= t("testimonials.testimonial_3.name") %></h3>
            <h4><%= t("testimonials.testimonial_3.position") %></h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= t("testimonials.testimonial_4.text") %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-4.jpg", class:"testimonial-img" %>
            <h3><%= t("testimonials.testimonial_4.name") %></h3>
            <h4><%= t("testimonials.testimonial_4.position") %></h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              <%= t("testimonials.testimonial_5.text") %>
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-5.jpg", class:"testimonial-img" %>
            <h3><%= t("testimonials.testimonial_5.name") %></h3>
            <h4><%= t("testimonials.testimonial_5.position") %></h4>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
