<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p>Here's what our satisfied clients are saying about us:</p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Working with this team was a transformative experience. Their commitment to excellence and professionalism propelled our project to great heights.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-1.jpg", class:"testimonial-img" %>
            <h3>Saul Goodman</h3>
            <h4>Ceo &amp; Founder</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The creativity and technical expertise they brought into our project were unmatched. Truly a game-changer for us!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-2.jpg", class:"testimonial-img" %>
            <h3>Sara Wilsson</h3>
            <h4>Designer</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Their customer support is commendable. They were there for us at every step, ensuring the process was smooth.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-3.jpg", class:"testimonial-img" %>
            <h3>Jena Karlis</h3>
            <h4>Store Owner</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              A remarkable team that doesn't just deliver but adds value to your project with their insights and expertise.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-4.jpg", class:"testimonial-img" %>
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              If you're seeking dedicated professionals who can elevate your vision, look no further. Highly recommended!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <%= image_tag "testimonials/testimonials-5.jpg", class:"testimonial-img" %>
            <h3>John Larson</h3>
            <h4>Entrepreneur</h4>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
