<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <%= link_to root_path, class:"logo me-auto" do %>
      <%= image_tag "logo.png", alt:"Logo" %>
    <% end %>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto " href="#hero"><%= t('header.navigation.home') %></a></li>
        <li><a class="nav-link scrollto " href="#digital-assistant"><%= t('header.navigation.chat_bot') %></a></li>
        <li><a class="nav-link scrollto" href="#about"><%= t('header.navigation.about') %></a></li>
        <li><a class="nav-link scrollto" href="#services"><%= t('header.navigation.services') %></a></li>
        <li><a class="nav-link scrollto" href="#departments"><%= t('header.navigation.departments') %></a></li>
    <!--<li><a class="nav-link scrollto" href="#doctors"><%= t('header.navigation.doctors') %></a></li>-->
        <li><a class="nav-link scrollto" href="#contact"><%= t('header.navigation.contact') %></a></li>
      </ul>

      <ul class="nav ">
        <li class="dropdown">
          <%= link_to "/", class:"nav-link dropdown-toggle", data: {"bs-toggle": 'dropdown'} do %>
            <%= tag.div '', class:"flag #{I18n.locale}-flag" %>
            <%= image_tag "#{I18n.locale}.png", class: "lang-icon me-2" %>
            <%= t I18n.locale %>
          <% end %>

          <ul class="">
            <% I18n.available_locales.each do |locale| %>
              <li>
                <% if I18n.locale == locale %>
                  <span class="d-flex justify-content-start dropdown-item lingua ps-4">
                    <%= image_tag "#{locale}.png", class: "lang-icon me-2" %>
                    <%= t(I18n.locale) %>
                  </span>
                <% else %>
                  <a href="<%= root_path(locale: locale) %>" class="d-flex justify-content-start dropdown-item ps-4">
                    <%= image_tag "#{locale}.png", class: "lang-icon me-2" %>
                    <%= t(locale) %>
                  </a>
                <% end %>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>

      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#appointment" class="appointment-btn scrollto"><%= t('header.appointment_btn') %></a>
  </div>
</header>
<!-- End Header -->
