<!DOCTYPE html>
<html>
  <head>
    <title>ChatChat</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <style>
      .msg-<%= current_user&.id %> {
        background-color: cornflowerblue !important;
        padding: 10px;
      }
      .cont-<%= current_user&.id %> {
        display: flex;
        justify-content: flex-end;
      }
    </style>

  </head>

  <body class="bg-dark text-white">
    <%= yield %>
  </body>
</html>
